<%- include('partials/header') %>

<div class="container text-center mt-5">
  <h1 class="display-4">Welcome to Wanderlust</h1>
  <p class="lead">Find your next dream destination!</p>
  <a href="/listings" class="btn btn-primary btn-lg mt-4">Explore Listings</a>
</div>

<%- include('partials/footer') %>
