<%- include('../listings/includes/navbar') %>


<div class="container my-4">
  <h2>About Wander</h2>
  <p>Wander is a modern booking platform inspired by Airbnb, designed for seamless travel experiences.</p>
  <p>Our goal is to make discovering stays easy, safe, and enjoyable for everyone.</p>
</div>

<%- include('../listings/includes/footer') %>

