<% layout('listings/layouts/boilerplate') %>

<div class="container my-4">
  <h2>Terms & Conditions</h2>
  <p>By using Wander, you agree to our terms of service and community rules.</p>
  <ul>
    <li>All bookings are subject to host approval and cancellation policies.</li>
    <li>Users are responsible for maintaining accurate account information.</li>
    <li>Misuse of the platform (fraud, false listings, etc.) will lead to suspension.</li>
  </ul>
  <p>We reserve the right to update our terms at any time. Continued use of the platform implies acceptance of the latest terms.</p>
</div>
